article.device

    div
        p= device.name

    div

        if device.type == "light"

            - let deviceFunction = `toggleDevice('${device.id}')`
            button(onclick=deviceFunction) Toggle

        - let location = `/devices/${device.id}`
        a(href=location) View
